{% extends "base.html"%}

{% block content %}
    <header id="page-header">
        <div class="container my-3 dark-subtle">
            <div class="col-md-6 m-auto text-white text-center">
                <h1>プロフィール</h1>
                
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container text-white py-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>自己紹介</h2>
                    <br>
                    <h3 class="fst-italic text-decoration-underline">管理者</h3>
                    <p>ZAWAです</p>
                    <br>
                    <h3 class="fst-italic text-decoration-underline">学歴</h3>
                    <p>東京理科大学 理工学部 電気電子情報工学科</p>
                    <p>野田キャンパス</p>
                    <br>
                    <h3 class="fst-italic text-decoration-underline">サークル</h3>
                    <p><a href="https://rseccontact.wixsite.com/rsec">東京理科大学宇宙エンジニアリングサークル</a></p>
                    <br>
                    <h3 class="fst-italic text-decoration-underline">趣味</h3>
                    <p>漫画・映画鑑賞、電子工作</p>
                    <br>

                    <h3 class="fst-italic text-decoration-underline">言語・ツール</h3>
                    <p>・Python</p>
                    <p>・html,css</p>
                    <p>・java</p>
                    <br>
                    <p>OpenCV</p>
                    <p>flask</p>
                    <p>tensorflow</p>
                    <br>
                    <p>※以下は大学の授業で使用した程度です</p>
                    <p>・JavaScript</p>
                    <p>・PHP</p>
                    <p>・C++</p>
                    <p>DirectX</p>
                    <br>

                    <h3 class="fst-italic text-decoration-underline">自己PR</h3>
                    <p>
                        種子島ロケットコンテストに7人で出場し、制作したCanSatという缶サイズの小型人工衛星を高所から
                        投下させて自律走行で目的地へ目指す挑戦をしました。結果としては、着陸時に車軸が歪んでしまい
                        ゴールすることができませんでした。この原因として、センサの異常が多発し、機体完成が
                        ガントチャートからかなり遅れてしまったことにより十分な投下試験を行うことができなかったことと
                        着地の要件定義の見通しも甘かったと考えています。この経験からスケジュール管理の大切さ、要件定義の
                        重要性を学びました。また、この大会がきっかけで機械学習に興味を持ったためTECH-BASEさんのインターンに
                        参加して画像認識について学びました。最近では、flaskを用いたwebアプリについて学んでいます。</p>
                        
                    <p>Github: <a href="https://github.com/ZAWA0930">ZAWA0930 (github.com)</a></p>
                    
                    
                    <br>
                    <h3 class="fst-italic text-decoration-underline">連絡先</h3>
                    <p>Email: <a href="mailto:recipient@email.com">zawazawagold@gmail.com</a></p>

                    <h3 class="fst-italic text-decoration-underline">TIMELINE<span class="ms-2 fs-6">管理人タイムライン</span></h4>
                    
                    <a class="twitter-timeline" data-width="380" data-height="400" href="https://twitter.com/jyje3v?ref_src=twsrc%5Etfw">Tweets by jyje3v</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
                <div class="col-md-6">
                    <img src="https://images.unsplash.com/photo-1605638868237-0660a05a135b?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="rounded-circle img-fluid d-none d-md-block">

                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
