{% extends "base.html"%}

{% block content %}
    <header id="page-header">
        <div class="container my-3 bg-light">
            <div class="col-md-6 m-auto text-center">
                <h1>zawaです</h1>
                <p>なに書けばいいのかわかんね</p>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>apapapapapapapaap</h2>
                    <h3 class="fst-italic">あぱぱぱぱぱぱぱｐ</h3>
                    <p>こんちゃ</p>
                    <br>
                    <h2>apapapapapapapaap</h2>
                    <h3 class="fst-italic">あぱぱぱぱぱぱぱｐ</h3>
                    <p>こんちゃ</p>
                    <br>
                    <h2>apapapapapapapaap</h2>
                    <h3 class="fst-italic">あぱぱぱぱぱぱぱｐ</h3>
                    <p>こんちゃ</p>
                </div>
                <div class="col-md-6">
                    <img src="https://images.pexels.com/photos/18122802/pexels-photo-18122802.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="" class="rounded-circle img-fluid d-none d-md-block">
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}