{% extends "base.html"%}

{% block content %}
    <header id="page-header">
        <div class="container my-3 bg-light">
            <div class="col-md-6 m-auto text-center">
                <h1>管理人の独り言</h1>
                
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>自己紹介</h2>
                    <h3 class="fst-italic">管理者</h3>
                    <p>ZAWAです</p>
                    <p>特に書くことはないです</p>
                    <p>flaskのテストページとして制作しました</p>
                    <p>隣の写真の意味はないです</p>
                    <br>
                    <h3 class="fst-italic">学歴</h3>
                    <p>東京某大学に通っています</p>
                    <p>キャンパスは長万部かもしれません</p>
                    <br>
                    <h3 class="fst-italic">趣味</h3>
                    <p>映画鑑賞</p>

                    <h3 class="fst-italic">TIMELINE<span class="ms-2 fs-6">管理人タイムライン</span></h4>
                    
                    <a class="twitter-timeline" data-width="380" data-height="400" href="https://twitter.com/jyje3v?ref_src=twsrc%5Etfw">Tweets by jyje3v</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
                <div class="col-md-6">
                    <img src="https://images.unsplash.com/photo-1605638868237-0660a05a135b?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="rounded-circle img-fluid d-none d-md-block">

                </div>
            </div>
        </div>
    </section>
    
{% endblock %}